.login-label {

  color: var(--white) !important;

  &-blue {
    color: var(--sspa-blue) !important;
  }

  &:hover {
    color: var(--sspa-blue) !important;
  }
}

.cart-icon {
  font-size: var(--sm);
}