.scrolled-header {
  background-color: var(--white);
  box-shadow: 0px 6px 8px 1px rgba(173,173,173,0.35);
  position: fixed;
  top:0;
  left:0;
  overflow: hidden;
  width: 100%;
  opacity: 0;
  transition: transform 250ms ease-in-out;
  pointer-events: none;
  transform: translateY(-100%);

  &.active {
    transform: translateY(0);
    overflow: visible;
    opacity: 1;
    pointer-events: initial;
  }

  .scrolled-header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}