<footer id="footer">

	<div class="socket">
		<div>
			<small>&copy; Stepping Stone Performing Arts {{ "now"|date("Y") }}</small> <small>~</small> <small>Site by <a href="https://ashredman.com">A.R Development</a></small>
		</div>
		<div>
			{% include 'partials/menus/socket.twig' %}
		</div>
	</div>

</footer>
{{ function('wp_footer') }}
