<header id="header">
	<div class="socket">
		{% include "partials/logo.twig" %}
		{% include "partials/login-label.twig" %}
	</div>
	<div class="navbar">
		<span></span>
		{% include "partials/menus/main.twig" %}
	</div>
</header>
