{% extends "layouts/app.twig" %}

{% block content %}

	<section class="container">
		{% do action('woocommerce_before_single_product') %}

		<article itemscope itemtype="http://schema.org/Product" class="single-product-details {{ post.class }}">
			<div class="entry-images">
				{% do action('woocommerce_before_single_product_summary') %}
			</div>
			<div class="summary entry-summary">
				{% do action('woocommerce_single_product_summary') %}
			</div>
			<meta itemprop="url" content="{{ post.link }}" />
		</article>

		{% do action('woocommerce_after_single_product') %}

	</section>

	<section class="container">
		<div class="product-loop">
			{% for product in related_products  %}
				{% include ["product/tease-product.twig"] %}
			{% endfor %}
		</div>
	</section>

{% endblock  %}